.leaflet-container {
  width: 80vh;
  height: 80vh;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  @media screen and (max-width: 1600px) {
    width: 500px;
  }

  @media screen and (max-width: 720px) {
    width: 500px;
  }
}

.app__mapInfo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    border-radius: 1rem 1rem 1rem 1rem;
    background-repeat: no-repeat;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    transition: all 0.2s ease-in-out;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }

  h2 {
    color: var(--green-color);
    padding: 0.5rem 0;
    letter-spacing: 0.2rem;
    display: flex;
    align-items: center;
    text-align: center;
  }

  p {
    letter-spacing: 0.1rem;
    text-align: center;
  }

  @media screen and (max-width: 720px) {
    .img-size:hover {
      scale: 1;
    }
  }

  @media screen and (max-width: 450px) {
    width: 200px;
  }
}
